.cart-header {
    text-align: center;
    color: salmon;
    background-color: #f5dfdf56;
    border-radius: 50%;
    width: 20%;
    padding: 10px;
    margin: 5px auto 20px auto;
}

.cart-footer {
    margin-top: 20px;
}

.cart-content {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 70%;
    margin: 10px auto; 
}


.cart-item {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}

.cart-item-details {
    flex: 1;
}

.cart-item-details h5 {
    font-size: 16px;
    margin-bottom: 5px;
}

.cart-item-details p {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.cart-item-actions {
    display: flex;
    align-items: center;
}

.cart-item-actions button {
    background-color: #f00;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.cart-item-actions button:hover {
    background-color: #c00;
}



/*.................... 
    for responsiveness 
....................*/

@media (max-width: 768px) {
    .cart-header {
        width: 50%; 
        font-size: 14px; /
    }

    .cart-content {
        width: 90%; 
        padding: 10px; 
    }

    .cart-item img {
        width: 80px; 
        height: 80px;
    }

    .cart-item-actions button {
        padding: 3px 8px; 
    }
}
